@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  padding-top: 100px;
  font-family: "Inter", sans-serif;
}

.converter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.converter__box {
  display: flex;
  flex-direction: column;
  max-width: 395px;
  width: 100%;
}

.converter__box_text {
  color: var(--color-gray);
  margin-bottom: 10px;
}

.converter__switcher {
  display: flex;
  border-radius: var(--border-radius);
  width: 100%;
}

.converter__btn {
  position: relative;
  border: var(--border);
  background: var(--color-white);
  padding: 7px 25px;
  border-radius: 0;
  margin: -1px -1px -1px -1px;
}

.active {
  background: var(--color-green);
  border: var(--border);
  color: var(--color-white);
  padding: 7px 25px;
  margin: -1px;
}

.currency-tooltip {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-dark);
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  pointer-events: none;
  z-index: 100;
  white-space: nowrap;
  font-size: 13px;
}

.currency-tooltip::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  border: 4px solid transparent;
}

.converter__btn:hover .currency-tooltip {
  opacity: 1 !important;
  visibility: visible !important;
}

.converter__input {
  position: relative; 
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 140px;
  border: var(--border);
  border-radius: var(--border-radius);
  margin-top: 16px;
}

.converter__input-field {
  padding: 0 16px;
  border-radius: 12px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  outline: none;
  border: none;
}

.converter__input_rate {
  margin-top: 8px;
  padding: 6px 12px;
  background: var(--color-white);
  border: var(--border);
  border-radius: 8px;
  font-size: 12px;
  color: var(--color-dark);
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
