:root{

    --color-black: #2f2f2f;
    --color-dark: #374151;
    --color-white: #ffffff;
    --color-gray: #777;
    --color-green: #16b67f;

    --border: 1px solid #cdcdcd;
    --border-radius: 5px;

}